.planScreen__plan {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  margin-left: 5px;
}


.planScreen__info:hover {
  opacity: 1;
}
.planScreen__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  opacity: 0.8;
}

.planScreen__info > div {
  display: flex;
  flex-direction: column;
}

.planScreen__info h5,
.planScreen__info h6 {
  margin: 0;
  font-weight: 600;
}

.planScreen__info > button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}

.planScreen__info > button.current__Package {
    background-color: gray;
  }

